/* Set base font size for responsiveness */
html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Header section */
header {
  text-align: center;
  background-color: black;
}

/* Main title in header */
h1 {
  margin: 0;
  padding: 0.625rem; /* 10px */
  font-size: 3rem; /* 48px */
  font-weight: 600;
  color: white;
}

/* Description paragraph in header */
.description-full {
  display: block;
  font-weight: 600;
  color: white;
  padding: 0.625rem 6.25rem; /* 10px 100px */
  bottom: 0;
  left: 0;
  right: 0;
  text-align: justify;
}

.description-short {
  display: none;
  font-weight: 600;
  color: white;
  padding: 0.625rem 6.25rem; /* 10px 100px */
  text-align: justify;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Main content section */
.main {
  margin: 0 12.5rem 1.875rem; /* 200px 30px */
}

/* Subtitles in main section */
h2 {
  font-size: 1.75rem; /* 28px */
  margin: 1.25rem 0; /* 20px */
}

/* Index paragraph */
.index {
  font-weight: bold;
  margin-bottom: 0.625rem; /* 10px */
}

/* Unordered list */
ul {
  padding: 0;
  margin-bottom: 1.25rem; /* 20px */
  gap: 0.625rem;
}

/* List items */
li {
  list-style: none;
  align-items: center;

  margin-bottom: 0.625rem; /* 10px */
  border: 2px solid white;
  opacity: 0;
  transform: translateY(1.25rem); /* 20px */
  animation: fadeInUp 0.5s forwards;
  /* Animation delay */
  animation-delay: var(--animation-delay, 0s);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover effect for list items */
li:hover {
  border-left: 2px solid black;
}

/* Links */
a {
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0rem;
}

/* Hover effect for links */
a:hover {
  text-decoration: underline;
}

li .p {
  margin-bottom: 0.5rem;
  padding: 0;
}

/* Author class for news items */
p.author {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

p.date {
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}
/* Button container */
.btn-container {
  display: flex;
  flex-direction: row;
}

/* Buttons */
button {
  background-color: white;
  color: black;
  margin: auto;
  padding: 0.3125rem; /* 5px */
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 1.5rem; /* 24px */
  box-sizing: border-box;
  border: 2px solid black;
}

/* Hover effect for buttons */
button:hover {
  color: red;
  border: 2px solid red;
}

/* Hover effect for "more" button */
.more:hover {
  color: green;
  border: 2px solid green;
}

/* Hide "less" button initially */
.less {
  display: none;
}

/* Footer section */
footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  margin-top: 2.5rem; /* 40px */
  font-size: 1.375rem; /* 22px */
  padding: 1.875rem 0; /* 30px */
  font-weight: bold;
}

@media only screen and (max-width: 480) {
  h1 {
    font-size: 2.5rem; /* 40px */
  }

  p.description-full {
    display: none;
  }

  p.description-short {
    display: block;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    font-size: 1.2rem; /* Further reduce font size */
  }

  .main {
    margin-top: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .index {
    font-size: 1rem;
  }

  li {
    margin-bottom: 0.7rem;
  }

  footer {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 481) and (max-width: 960) {
  .main {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
}
